{% extends "base/base.html" %}
{% load cache %}
{% load thumbnail %}
{% load flatblocks %}
{% load solo_tags %}
{% load hramik_tags %}
{% load render_as_template %}



{% block js %}
{% endblock %}


{% block css %}
{% endblock %}


{% block head %}
    {{ block.super }}
    {% get_solo 'config.SiteConfiguration' as config %}


    {#    <meta name='wmail-verification' content='1d1f1f93624db8cb'/>#}
    {#    <meta name="google-site-verification" content="-44p5vX91W724AXQSHepT2UO2w6HZ4x_tPpgH-se0hY"/>#}

{##}
{#    <link rel="icon" type="image/png" href="/static/images/favicon_16.png">#}
{#    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/images/favicon_144.png">#}
{#    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/images/favicon_114.png">#}
{#    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/images/favicon_72.png">#}

    {#    <link rel="shortcut icon" type="image/ico" href="/static/images/favicon.ico"/>#}


    <link href="/static/custom/stylesheets/kolokol.min.css" media="screen, projection" rel="stylesheet" type="text/css"/>
    <script src='https://www.google.com/recaptcha/api.js'></script>

    {{ config.in_head|safe }}

{% endblock %}


{% block header %}
    {% get_solo 'config.SiteConfiguration' as config %}

    {% if config.header_template %}
        {% render_as_template config.header_template.template|safe %}
    {% else %}

        <div class="ui head  container">

            <div class="ui bottom aligned stackable grid">

                <div class="logo title da header ten wide left aligned column">
                    {% if config.logo %}
                        <a href="{% url "home" %}" class="red"><img src="{{ config.logo.url }}" class="ui tiny left floated image" alt="">
                    {% endif %}
                    </a>
                    {% if config.teaser %}
                        <span style=""> {{ config.teaser }}</span>
                    {% endif %}
                    </a>
                </div>


                <div class="six wide {% if request.user_agent.is_mobile %}center{% else %}right{% endif %} aligned computer column">

                </div>
            </div>

            {% if not request.user_agent.is_mobile %}
                <div class="ui blue inverted stackable menu">
                    {% include "menu/menu.html" %}
                </div>
            {% endif %}
        </div>
    {% endif %}


{% endblock %}


{% block top_content %}
{% endblock %}


{% block content %}
{% endblock %}

{% block footer %}
    {% get_solo 'config.SiteConfiguration' as config %}


    {% if config.footer_template %}
        {% render_as_template config.footer_template.template|safe %}
    {% else %}
        <div class="ui divider"></div>


        <div class="ui footer container">
            <div class="ui middle aligned stackable two column grid">

                <div class="ui column">
                    {% if config.logo %}
                        <div>
                            <a href="{% url "home" %}"><img src="{{ config.logo.url }}" class="ui tiny left floated image" alt=""></a>
                        </div>
                    {% endif %}

                    {% if config.teaser %}
                        <div>{{ config.teaser }}</div>
                    {% endif %}

                    {% if config.copyright %}
                        <div class="small">{{ config.copyright }}</div>
                    {% endif %}
                </div>

                <div class="ui right aligned column">

                </div>

            </div>
        </div>

    {% endif %}


{% endblock %}


{% block extra_body %}
{% endblock extra_body %}