{% load i18n %}
{% load static %}
{% load compress %}
{% load staticfiles %}
{% load solo_tags %}
{% load hramik_tags %}

{% get_solo 'config.SiteConfiguration' as config %}

{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"#}
{#        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<!DOCTYPE HTML PUBLIC  "-//W3C//DTD HTML 4.01 Transitional//EN" "www.w3.org/TR/html4/loose.dtd">#}
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Accept-Language" сontent="ru"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    {% block tophead %}{% endblock %}

    <title>
        {% block meta_title %}
            {% if page_title %}
                {{ page_title }}
            {% elif page.page_title %}
                {{ page.page_title }}
            {% elif page.title %}
                {{ page.title }}
            {% elif entity.prular %}
                {{ entity.prular }}
            {% else %}
                {{ entity }}
            {% endif %}
        {% endblock %}
    </title>

    {#FAVICONS#}

    <link rel="apple-touch-icon" sizes="57x57" href="/static/custom/images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/custom/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/custom/images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/custom/images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/custom/images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/custom/images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/custom/images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/custom/images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/custom/images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/static/custom/images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/custom/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/static/custom/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/custom/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/custom/images/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/static/custom/images/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">


    <meta name="description" content="{% block meta_description %}{% if meta_desc %}{{ meta_desc }}{% else %}{{ page.meta_desc }}{% endif %}{% endblock %}"/>
    <meta name="keywords" content="{% block meta_keywords %}{% if meta_keywords %}{{ meta_keywords }}{% else %}{{ page.meta_keywords }}{% endif %}{% endblock %}"/>


    <script type="text/javascript" src="/static/bower_components/jquery/dist/jquery.min.js"></script>

    {% compress css %}

    {% endcompress %}

    <link rel="stylesheet" type="text/css" href="/static/bower_components/semantic/dist/semantic.min.css">

    {% if request.user.is_staff %}
        <link rel="stylesheet" type="text/css" href="/static/bower_components/ContentTools/build/content-tools.min.css">
    {% endif %}

    <link rel="stylesheet" type="text/css" href="/static/bower_components/slick-carousel/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="/static/bower_components/slick-carousel/slick/slick-theme.css"/>


    {% block head %}{% endblock %}

</head>

<body id="body" class="ng-cloak-o {% if front %}front{% endif %} {% block body_class %}{% endblock %} {% if page.slug %}{{ page.slug }}{% endif %}" ng-app="kolokolApp" ng-controller="appCtrl">


{% include "base/helpers/fb.html" %}

{% block tag_manager %}
{% endblock %}

{% block in_body %}
    {% if request.user_agent.is_mobile %}
        {% include "menu/mobile_menu.html" %}
    {% endif %}

    {% if request.user.is_staff %}
        {% include 'node/sidebar/seo.html' %}
    {% endif %}
{% endblock %}

{{ config.in_top_body|safe }}


<div class="pusher" id="pusher">
    <div class="full height">

        <div class="ui icon  button"
             style="bottom:.5rem; left: .5rem; z-index:850; position: fixed; opacity: .2"
             onclick="toTop();"
                {#             ng-controller="toTop" ng-click="to_top();"#}
        >
            <i class="chevron up  big icon"></i>
        </div>


        <header>
            <div id="header">

                {% block header %}
                {% endblock %}

            </div>
        </header>

        <div id="container">
            {#                {% block controller %}ng-controller="pageCtrl"{% endblock %}#}
            {#             ng-init=""#}


            <errors>
                <div id="errors">
                    {% block errors %}
                        {% if errors %}
                            {{ errors }}
                        {% endif %}
                    {% endblock %}
                </div>
            </errors>

            {% if message %}
                <message>
                    <div id="message">{{ message|safe }}</div>
                </message>
            {% endif %}

            <message class="" style="display: none;">
                <div id="message">{? global.message ?}</div>
            </message>

            <div id="top-content">


                {% block top_content %}
                {% endblock %}

            </div>
            <!--/#top-content-->


            <content>
                {% block intro %}
                {% endblock %}

                <div id="content">
                    {% block content %}{% endblock %}
                </div>
                <!--/#content-->
            </content>

            <sidebar>
                <div id="sidebar">
                    {% block sidebar %}{% endblock %}
                </div>
                <!--/#right-column-->
            </sidebar>


        </div>
    </div>

    {% block footer %}{% endblock %}

</div>

<!--#wrapper-->



{% block extra_body %}
{% endblock extra_body %}




{#{% compress js %}#}

{#<script src="http://api-maps.yandex.ru/2.1/?coordorder=longlat&lang=ru_RU&onload=init_map" type="text/javascript"></script>#}

{# JQUERY PART#}

<script src="/static/bower_components/slick-carousel/slick/slick.min.js"></script>

<script type='text/javascript' src='/static/bower_components/video.js/dist/video-js/video.js'></script>
<link rel="stylesheet" href="/static/bower_components/video.js/dist/video-js/video-js.min.css"/>


{#<script type="text/javascript" src="/static/js/hram_selectors.js"></script>#}
{#<script type="text/javascript" src="/static/js/colorbox/jquery.colorbox-min.js"></script>#}

<script src="/static/bower_components/semantic/dist/semantic.min.js"></script>
{% if perms.node.can_edit_wysiwyg %}

    <style>
        #saveButton {
            opacity: .75;
            position: fixed;
            margin: 0 auto;
            z-index: 850;
            left: 20px;
            top: 20px;
        {#            margin-left: -10vw !important;#}{#            width: 25px;#}{#            height: 25px;#}{#            font-size: 25px !important;#}{#            padding: 410 !important;#}
        }

    </style>


    <div class="ui circular icon massive blue button call_button" id="saveButton">
        <i class="save icon"></i>
    </div>

    <!-- Include Font Awesome. -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>

    <!-- Include Editor style. -->
    <link href="/static/bower_components/froala-wysiwyg-editor/css/froala_editor.min.css" rel="stylesheet" type="text/css"/>
    <link href="/static/bower_components/froala-wysiwyg-editor/css/froala_style.min.css" rel="stylesheet" type="text/css"/>

    <!-- Include Code Mirror style -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.min.css">

    <!-- Include Editor Plugins style. -->
    <link rel="stylesheet" href="/static/bower_components/froala-wysiwyg-editor/css/plugins/char_counter.css">
    <link rel="stylesheet" href="/static/bower_components/froala-wysiwyg-editor/css/plugins/code_view.css">
    <link rel="stylesheet" href="/static/bower_components/froala-wysiwyg-editor/css/plugins/colors.css">
    <link rel="stylesheet" href="/static/bower_components/froala-wysiwyg-editor/css/plugins/emoticons.css">
    <link rel="stylesheet" href="/static/bower_components/froala-wysiwyg-editor/css/plugins/file.css">
    <link rel="stylesheet" href="/static/bower_components/froala-wysiwyg-editor/css/plugins/fullscreen.css">
    <link rel="stylesheet" href="/static/bower_components/froala-wysiwyg-editor/css/plugins/image.css">
    <link rel="stylesheet" href="/static/bower_components/froala-wysiwyg-editor/css/plugins/image_manager.css">
    <link rel="stylesheet" href="/static/bower_components/froala-wysiwyg-editor/css/plugins/line_breaker.css">
    <link rel="stylesheet" href="/static/bower_components/froala-wysiwyg-editor/css/plugins/quick_insert.css">
    <link rel="stylesheet" href="/static/bower_components/froala-wysiwyg-editor/css/plugins/table.css">
    <link rel="stylesheet" href="/static/bower_components/froala-wysiwyg-editor/css/plugins/video.css">


    <!-- Include JS files. -->
    <script type="text/javascript" src="/static/bower_components/froala-wysiwyg-editor/js/froala_editor.min.js"></script>

    <!-- Include Code Mirror. -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/mode/xml/xml.min.js"></script>

    <!-- Include Plugins. -->
    <script type="text/javascript" src="/static/bower_components/froala-wysiwyg-editor/js/plugins/align.min.js"></script>
    <script type="text/javascript" src="/static/bower_components/froala-wysiwyg-editor/js/plugins/code_beautifier.min.js"></script>
    <script type="text/javascript" src="/static/bower_components/froala-wysiwyg-editor/js/plugins/code_view.min.js"></script>
    <script type="text/javascript" src="/static/bower_components/froala-wysiwyg-editor/js/plugins/colors.min.js"></script>
    <script type="text/javascript" src="/static/bower_components/froala-wysiwyg-editor/js/plugins/entities.min.js"></script>
    {#    <script type="text/javascript" src="/static/bower_components/froala-wysiwyg-editor/js/plugins/file.min.js"></script>#}
    <script type="text/javascript" src="/static/bower_components/froala-wysiwyg-editor/js/plugins/font_family.min.js"></script>
    <script type="text/javascript" src="/static/bower_components/froala-wysiwyg-editor/js/plugins/font_size.min.js"></script>
    {#    <script type="text/javascript" src="/static/bower_components/froala-wysiwyg-editor/js/plugins/fullscreen.min.js"></script>#}
    {#    <script type="text/javascript" src="/static/bower_components/froala-wysiwyg-editor/js/plugins/image.min.js"></script>#}
    {#    <script type="text/javascript" src="/static/bower_components/froala-wysiwyg-editor/js/plugins/image_manager.min.js"></script>#}
    <script type="text/javascript" src="/static/bower_components/froala-wysiwyg-editor/js/plugins/inline_style.min.js"></script>
    <script type="text/javascript" src="/static/bower_components/froala-wysiwyg-editor/js/plugins/line_breaker.min.js"></script>
    <script type="text/javascript" src="/static/bower_components/froala-wysiwyg-editor/js/plugins/link.min.js"></script>
    <script type="text/javascript" src="/static/bower_components/froala-wysiwyg-editor/js/plugins/lists.min.js"></script>
    <script type="text/javascript" src="/static/bower_components/froala-wysiwyg-editor/js/plugins/paragraph_format.min.js"></script>
    <script type="text/javascript" src="/static/bower_components/froala-wysiwyg-editor/js/plugins/paragraph_style.min.js"></script>
    <script type="text/javascript" src="/static/bower_components/froala-wysiwyg-editor/js/plugins/quick_insert.min.js"></script>
    <script type="text/javascript" src="/static/bower_components/froala-wysiwyg-editor/js/plugins/quote.min.js"></script>
    <script type="text/javascript" src="/static/bower_components/froala-wysiwyg-editor/js/plugins/table.min.js"></script>
    <script type="text/javascript" src="/static/bower_components/froala-wysiwyg-editor/js/plugins/save.min.js"></script>
    <script type="text/javascript" src="/static/bower_components/froala-wysiwyg-editor/js/plugins/url.min.js"></script>
    <script type="text/javascript" src="/static/bower_components/froala-wysiwyg-editor/js/languages/ru.js"></script>
    {#    <script type="text/javascript" src="/static/bower_components/froala-wysiwyg-editor/js/plugins/video.min.js"></script>#}

    <!-- Include Language file if we want to use it. -->
    <script type="text/javascript" src="/static/bower_components/froala-wysiwyg-editor/js/languages/ro.js"></script>

    <!-- Initialize the editor. -->
    <script>
        $(function () {

{#            Hide save button#}
            if($('#editable_body').length == 0){
               $('#saveButton').hide();
            }

            $('#editable_body').froalaEditor({
                toolbarButtons: ['bold', 'italic', 'underline', 'strikethrough', 'clearFormatting', '|', 'color', 'emoticons', 'inlineStyle', '|', 'html', '|', 'undo', 'redo'],
                language: 'ru',
                toolbarInline: true,
                charCounterCount: false,
                fullPage: false,

                // Set the save param.
                saveParam: 'save_content',

                // Set the save URL.
                saveURL: '/save_page/{{ page.pk }}',

                // HTTP request type.
                saveMethod: 'POST',

                // Additional save params.
                saveParams: {csrfmiddlewaretoken: '{{ csrf_token }}'}
            })
                    .on('froalaEditor.save.before', function (e, editor) {
                        console.log('before save');
                    })
                    .on('froalaEditor.save.after', function (e, editor, response) {
                        console.log('after save');
                    })
                    .on('froalaEditor.save.error', function (e, editor, error) {
                        // Do something here.
                    });

            $('#saveButton').on("click", function () {
                $('#editable_body').froalaEditor('save.save')
            })
        });


    </script>

    {#    <!-- Include Content Tools. -->#}
    {##}
    {#    <script src="/static/bower_components/ContentTools/build/content-tools.js"></script>#}
    {#    <script>#}
    {##}
    {##}
    {#        window.addEventListener('load', function () {#}
    {##}
    {#            var editor;#}
    {##}
    {#            editor = ContentTools.EditorApp.get();#}
    {#            editor.init('*[data-editable]', 'data-name');#}
    {##}
    {##}
    {#            ContentTools.StylePalette.add([#}
    {#                new ContentTools.Style('Author', 'author', ['p'])#}
    {#            ]);#}
    {##}
    {#            editor.bind('save', function (regions, autoSave) {#}
    {#                var saved;#}
    {#                editor.busy(true);#}
    {##}
    {#                $.ajax({#}
    {#                    method: "POST",#}
    {#                    url: "/save_page/{{ page.pk }}",#}
    {#                    data: {#}
    {#                        regions: regions,#}
    {#                        csrfmiddlewaretoken: '{{ csrf_token }}'#}
    {#                    }#}
    {#                })#}
    {#                        .done(function (msg) {#}
    {#                            editor.busy(false);#}
    {#                        });#}
    {#            });#}
    {#        });#}
    {##}
    {#    </script>#}
{% endif %}
{#<script src="assets/editor.js"></script>#}
{#                    xhr.open('POST', '/save_page/{{ page.pk }}');#}


{# ANGULAR PART#}
<script src="/static/bower_components/angular/angular.min.js"></script>
<script src="/static/bower_components/angular-resource/angular-resource.min.js"></script>
<script src="/static/bower_components/angular-animate/angular-animate.min.js"></script>
<script src="/static/bower_components/angular-route/angular-route.min.js"></script>
<script src="/static/bower_components/angular-sanitize/angular-sanitize.js"></script>

<script src="/static/js/angular-yandex-map-master/ya-map-2.1.min.js"></script>


<script type="text/javascript" src="/static/custom/js/angular/app.js"></script>

{#{% compress js %}#}

<script type="text/javascript" src="/static/custom/js/angular/services.js"></script>
<script type="text/javascript" src="/static/custom/js/angular/controllers.js"></script>
<script type="text/javascript" src="/static/custom/js/angular/directives.js"></script>
<script type="text/javascript" src="/static/custom/js/angular/filters.js"></script>


<script type="text/javascript" src="/static/custom/js/kolokol.js"></script>
<script type="text/javascript" src="/static/js/kolokol_main.js"></script>

{#{% endcompress %}#}
{{ config.in_end_body|safe }}

{% include "base/helpers/reachGoal.html" %}


</body>

</html>