{% load i18n %}
{% load thumbnail %}


<div class="modal_wrap" ng-show="global.{{ modal_name }}_modal_show" ng-controller="modalCtrl" ng-cloak>


    <div class="modal-scroll"></div>
    <div class="modal-backdrop"></div>

    <div class="modal {% block modal_class %}{% endblock %}" {% block modal_addition %}{% endblock %}>

        <div class="popup_close" ng-click="global.{{ modal_name }}_modal_show=0;">Закрыть</div>

        {% block modal_header %}
            <div class="modal-header">
                <div class="modal-title title">
                    {% block modal_title %}
                        Название модального окна
                    {% endblock %}
                </div>
            </div>
        {% endblock %}

        <div class="modal-body {% if sidebar %}sidebar{% endif %}">
            <div class="modal-content">{% block modal_content %}{% endblock %}</div>

            {% if sidebar %}
                <div class="modal-sidebar">{% block modal_sidebar %}{% endblock %}</div>
            {% endif %}

        </div>

        {% block modal_footer %}{% endblock %}
    </div>
</div>