{#{% load dajaxice_templatetags %}#}
{% load i18n %}
{% load static %}
{#{% load compress %}#}


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    {#    {{ current_ip }}#}

    {% block tophead %}{% endblock %}

    <!--    <meta name="google-site-verification" content="KmNJMW06OW0twz7rq7QWWj-AODVLELVgK225KEZ5Eng" />-->
    <meta http-equiv="Accept-Language" сontent="ru"/>
    <meta name="viewport" content="width=1100">

    <title>{% block meta_title %}{% if page_title %}{{ page_title }}{% else %}{{ seo_metaseo_meta.page_title }}
    {% endif %}{% endblock %}</title>

    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="Robots" content="INDEX, FOLLOW">
    <meta http-equiv="Expires" content="Tue, 01 Jan 1980 1:00:00 GMT"/>
    <meta http-equiv="Pragma" content="no-cache"/>

    <link href="/static/stylesheets/print.css" media="screen, print" rel="stylesheet" type="text/css"/>

    {% block head %}{% endblock %}


</head>

<body class="bp for_print {% block body_classes %}{% endblock %}"
      ng-app="daApp" ng-cloak onload="javascript:window.print();">


{% block in_body %}
{% endblock %}

<div id="container" {% block controller %} ng-controller="pageCtrl"{% endblock %}>


    <header>
        <div id="header">

            <div class="logo"><img src="{{ current_site.logo.url }}" alt=""/></div>


            <!--ГЛАВНОЕ МЕНЮ-->

            {% block header %}
            {% endblock %}


        </div>
        <!--/#header-->
    </header>


    {% if message %}
        <message>
            <div id="message">{{ message|safe }}</div>
        </message>
    {% endif %}


    <div id="top-content">

        {% block top_content %}{% endblock %}


        {% if not front %}
            {% block pagetitle_wrap %}<h1 id="page-title">{% block pagetitle %}{{ seo_meta.h1 }}{% endblock %}</h1>{% endblock %}
        {% endif %}

        {% if seo_meta.h2 %}
            <h2 id="page-second-title">{% block page_second_title %}{{ seo_meta.h2 }}{% endblock %}</h2>
        {% endif %}

        {% block name %}{% endblock %}

    </div>
    <!--/#top-content-->


    <content>

        <!--<ul class="tags">
            {% block tags %}{% endblock %}
        </ul>-->

        {% block intro %}
        {% endblock %}

        <div id="content">

            {% block content %}{% endblock %}
        </div>
        <!--/#content-->
    </content>

    <sidebar>
        <div id="sidebar">
            {% block sidebar %}{% endblock %}
        </div>
        <!--/#right-column-->
    </sidebar>


    <footer>
        <div id="footer">

            {% block footer %}{% endblock %}

            <div class="copyright">
                {% block copyright %}{% endblock %}
            </div>

        </div>
        <!--/#footer-->
    </footer>


</div>
<!--#wrapper-->


{% block extra_body %}
{% endblock extra_body %}


</body>

</html>