<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="google-site-verification" content="KmNJMW06OW0twz7rq7QWWj-AODVLELVgK225KEZ5Eng" />
    <title>	{% block title %}{% if page_title %}{{ page_title }} | {% endif %}IGS{% endblock %}</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="Expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta name="description" content="{% block meta_desc %}{% endblock %}" />



    <link href="/static/stylesheets/vimarko_start.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <link href="/static/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/static/fonts/fonts.css" rel="stylesheet" type="text/css" />

    {% block head %}

    {% endblock %}


    <!--[if lt IE 8]>
		    <link href="/static//stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
		<![endif]-->

    <script type="text/javascript" src="/static/js/jquery-1.6.2.min.js"></script>
    <script type="text/javascript" src="/static/js/mishino.js"></script>
    <script type="text/javascript" src="/static/js/hram_selectors.js"></script>

    <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>



</head>
<body class="bp {% block body_classes %}{% endblock %}">

<div id="container">



    <header>
        <div id="header">

            <a href="/"><h1 id="site_name">{% block site_name %}{% endblock %}</h1></a>



            <!--ГЛАВНОЕ МЕНЮ-->

            {% block header %}
            {% endblock %}




        </div> 	<!--/#header-->
    </header>

    <errors>
        <div id="errors">
            {% block errors %}
                {% if errors %}
                    {{ errors }}
                {% endif %}
            {% endblock %}
        </div>
    </errors>


    <div id="top-content">
        <h2 id="page-title">{% block pagetitle %}{% endblock %}</h2>
        {% block top_content %}{% endblock %}
    </div> 	<!--/#top-content-->

    <div id="breadcrumb">
        {% for breadcrumb in request.breadcrumbs %}
            <a href="{{ breadcrumb.url }}">{{ breadcrumb.name }}</a>{% if not forloop.last %}{% endif %}
        {% endfor %}
    </div>


    <content>
        <ul class="tags">
            {% block tags %}{% endblock %}
        </ul>
        <div id="content">
            {% block content %}{% endblock %}
        </div> 	<!--/#content-->
    </content>

    <sidebar>
        <div id="sidebar">
            {% block sidebar %}{% endblock %}
        </div> 	<!--/#right-column-->
    </sidebar>


    <footer>
        <div id="footer">

            {% block footer %}{% endblock %}

            <div class="copyright">
            </div>

        </div><!--/#footer-->
    </footer>

</div>	<!--#wrapper-->
</body>
</html>