<div class="ui seo modal">
    <div class="header">SEO</div>
    <div class="content">
        <form action="{% url "page" page.slug %}" class="ui form" name="modal_seo_form" method="post">{% csrf_token %}

            <div class="field">

            </div>
            <div class="field">
                <div class="two fields">
                    <div class="field">
                        <label>H1</label>
                        {% if page.title %}
                            <input type="text" name="seo[h1]" value="{{ page.title }}">
                        {% elif page.prular %}
                            <input type="text" name="seo[h1]" value="{{ page.prular }}">
                        {% elif page.name %}
                            <input type="text" name="seo[h1]" value="{{ page.name }}">
                        {% endif %}
                    </div>
                    <div class="field">
                        <label>H2</label>
                        <input type="text" name="seo[h2]" value="{{ page.second_title }}">
                    </div>
                </div>
            </div>

            <div class="field">
                <label>Page Title</label>
                <input type="text" name="seo[page_title]" value="{{ page.page_title }}">
            </div>

            <div class="field">
                <label>Meta Description</label>
                <textarea name="seo[meta_desc]" rows="3">{{ page.meta_desc }}</textarea>
            </div>

            <div class="field">
                <label>Meta Keyword</label>
                <input type="text" name="seo[meta_keywords]" value="{{ page.meta_keywords }}">
            </div>

            <div class="ui toggle checkbox">
                <input type="checkbox" tabindex="0" name="seo[noindex]"
                        {% if page.noindex %}
                       checked
                        {% endif %}
                >
                <label>Noindex</label>
            </div>

            <div class="ui divider"></div>

            <div class="field">
                <label>Slug</label>
                <input type="text" name="seo[slug]" value="{{ page.slug }}">
            </div>

            <div class="ui divider"></div>

            <div class="ui toggle checkbox">
                <input type="checkbox" tabindex="0" name="seo[sidebar]"
                        {% if page.sidebar %}
                       checked
                        {% endif %}
                >
                <label>Показывать баннер</label>
            </div>

        </form>
    </div>
    <div class="actions">
        <div class="ui positive right labeled icon button" onclick="document.modal_seo_form.submit();">
            Сохранить
            <i class="checkmark icon"></i>
        </div>
    </div>
</div>


