<h2>{{ type.admin_subject }}</h2>


<b>{{ data.user }}</b> оставил комментарий к
<b>{% if data.node.title %}
    {{ data.node.title }}.
{% else %}
    {{ data.node.body|truncatewords:10 }}.
{% endif %}
</b>

<br/>
<a href="{% url 'admin:node_comment_change' data.id %}">{% url 'admin:node_comment_change' data.id %}</a>


<h4>Комментарий</h4>
<p>
    {{ data.body }}
</p>

Email автора: {{ data.user.email }}