<h2>{{ type.author_subject }}</h2>


<b>{{ data.user }}</b> оставил комментарий к вашей записи
<b>{% if data.node.title %}
    {{ data.node.title }}.
{% else %}
    {{ data.node.body|truncatewords:10 }}.
{% endif %}
</b>

<h4>Комментарий</h4>
<p>
    {{ data.body }}
</p>
