<p><b>{{ data.user_profile.user.username }}</b> оставил заявку на получение статуса "Продавец".</p><br/>

<p>Указанные данные:</p>
<p>Регион:
        {{ data.region }}
</p>
<p>Город: {{ data.sellerCity }}</p>
<p>Способ вознаграждения: {{ data.get_award_method_display }}</p>
<p>Должность: {{ data.position }}</p>
<p>Торговый представитель: {{ data.repres }}</p>

<p>Перейдите в личный кабинет, чтобы просмотреть/активировать/удалить заявку.</p>
