<p><b>{{ data.user_profile.user.username }}</b> оставил заявку на получение статуса "Торговый представитель".</p><br/>

<p>Указанные данные:</p>
<p>Регион:
        {{ data.region }}
</p>

<p>Перейдите в личный кабинет, чтобы просмотреть/активировать/удалить заявку.</p>
