{% load mptt_tags %}

<div class="ui icon button"
     style="top:.5rem; right: .5rem; z-index:850; position: fixed;"
     da-sidebar=".mobile_menu.sidebar">
    <i class="sidebar icon"></i>
</div>

<div class="ui left vertical menu inverted segment mobile_menu sidebar overlay" style="z-index: 999;    ">

    {% if config.logo %}
        <div class="item">
            <a href="{% url "home" %}"><img src="{{ config.logo.url }}" class="ui tiny image" alt=""></a>
        </div>
    {% endif %}



    {% recursetree main_menu %}
        {% if node.is_leaf_node %}
            <a href="{{ node.link }}" class="item main_menu_icons-{{ node.slug }} {{ node.slug }} {% if current_menu = node %}active{% endif %}">
                {{ node.title }}
            </a>
        {% else %}
            <div class="ui item item_item main_menu_icons-{{ node.slug }} {{ node.slug }} {% if current_menu = node %}active{% endif %}">
                <a href="{{ node.link }}">{{ node.title }}</a>
                <ul class="menu">
                    {{ children }}
                </ul>
            </div>
        {% endif %}
        </li>
    {% endrecursetree %}

    <div class="item">
        <div class="ya-site-form ya-site-form_inited_no ui right aligned category search item"
             onclick="return {'action':'http://www.kolokol.tv/poisk','arrow':false,'bg':'transparent','fontsize':12,'fg':'#000000','language':'ru','logo':'rb','publicname':'Поиск по www.kolokol.tv','suggest':true,'target':'_self','tld':'ru','type':3,'usebigdictionary':true,'searchid':2262572,'input_fg':'#000000','input_bg':'#ffffff','input_fontStyle':'normal','input_fontWeight':'normal','input_placeholder':'','input_placeholderColor':'#000000','input_borderColor':'transparent'}">
            <form action="https://yandex.ru/search/site/" method="get" target="_self">
                <input type="hidden" name="searchid" value="2262572"/>
                <input type="hidden" name="l10n" value="ru"/>
                <input type="hidden" name="reqenc" value=""/>
                <div class="ui transparent icon input">
                    <input type="search" name="text" value="" class=""/>
                    {#                <input type="submit" value="Найти"/>#}
                    <i class="search link icon"></i>
                </div>
            </form>
        </div>

        <style type="text/css">
            .ya-page_js_yes .ya-site-form_inited_no {
                display: none;
            }

            #ya-site-form0 .ya-site-form__submit_type_image {
                height: 30px;
                display: none;
            }

            input.ya-site-form__input-text {
                height: 30px;
            }
        </style>

        <script type="text/javascript">(function (w, d, c) {
            var s = d.createElement('script'), h = d.getElementsByTagName('script')[0], e = d.documentElement;
            if ((' ' + e.className + ' ').indexOf(' ya-page_js_yes ') === -1) {
                e.className += ' ya-page_js_yes';
            }
            s.type = 'text/javascript';
            s.async = true;
            s.charset = 'utf-8';
            s.src = (d.location.protocol === 'https:' ? 'https:' : 'http:') + '//site.yandex.net/v2.0/js/all.js';
            h.parentNode.insertBefore(s, h);
            (w[c] || (w[c] = [])).push(function () {
                Ya.Site.Form.init()
            })
        })(window, document, 'yandex_site_callbacks');</script>
    </div>
</div>