<div class="ui divided items">


    {#    {% if request.user.is_staff %}#}
    {#        {{ request.META }}#}
    {#        {{ request.META.HTTP_REFERER }}#}
    {#        {% if 'vk.com' in request.META.HTTP_REFERER %}#}
    {#            ss#}
    {#        {% endif %}#}
    {##}
    {#    {% endif %}#}

    {% for item in items %}

        {% if item.image and item.show_image_in_list %}

            {% if 'vk.com' in request.META.HTTP_REFERER %}
                <script>
                    $(window).load(function () {
                        {% if 'label' in item.additional_settings %}
                            reachGoal("Banner", "View", "{{ item.additional_settings.label }}");
                        {% else %}
                            reachGoal("Banner", "View", "{{ item.id }}");
                        {% endif %}
                    });
                </script>
            {% endif %}

            {% if item.additional_settings.link %}
                <a href="{{ item.additional_settings.link }}" class="image">
                    <img src="{{ item.image.url }}" id="banner_{{ item.id }}">
                </a>
            {% else %}
                <div class="image">
                    <img src="{{ item.image.url }}">
                </div>
            {% endif %}

        {% endif %}

    {% endfor %}

</div>




