{% load thumbnail %}
{% load render_as_template %}


<div class="ui top aligned stackable {{ columns }} column grid">

    {% for item in items %}
        <div class="item_one column">
            <div class="ui fluid card" style="">


                {% if not not_preview %}
                    {% if item.video %}
                        <div class="ui embed" data-source="youtube" data-id="{{ item.video }}" data-placeholder="{{ item.image.url }}" data-icon="red video play"></div>
                    {% else %}
                        {% if item.image and item.show_image_in_list %}
                            {% if item.slug %}
                                <a href="{% if item.link %}{{ item.link }}{% else %}{% url "page" item.slug %}{% endif %}" class="image">
                                    {% thumbnail item.image "160x160" as im %}
                                        {{ im }}
                                        <img src="{{ im.src }}" alt="">
                                    {% endthumbnail %}
                                    <img src="{{ item.image.url }}">
                                </a>
                            {% else %}
                                <div class="image">
                                    <img src="{{ item.image.url }}">
                                </div>
                            {% endif %}


                        {% endif %}
                    {% endif %}
                {% endif %}

                {% if with_avatar %}

                    <a href="{% if item.link %}{{ item.link }}{% else %}{% url "page" item.slug %}{% endif %}" style="width: 100%; text-align: center; position: absolute; top: 0; padding-top: 25px;">
                        <img class="avatar" src="{{ item.user.userprofile.avatar.url }}"
                             style="width: 150px; height: 150px; border-radius: 200px; box-shadow: 0 0 10px rgba(0,0,0,0.5);">
                    <div class="ui header" style="color: white; text-shadow: 0px 0px 3px rgba(0, 0, 0, 1);">{{ item.user.first_name }} {{ item.user.last_name }}</div>
                    </a>
                {% endif %}

                <div class="content">

                    {% if not not_title %}
                        {% if item.show_title_in_list %}
                            {% if item.slug %}
                                <a href="{% if item.link %}{{ item.link }}{% else %}{% url "page" item.slug %}{% endif %}" class="header">{{ item.title }}</a>
                            {% else %}
                                <div class="header">{{ item.title }}</div>
                            {% endif %}
                        {% endif %}
                    {% endif %}

                    {% if not not_time %}
                        <div class="meta">{{ item.pub_date|timesince }} назад</div>
                    {% endif %}

                    {% if not not_desc %}
                        <div class="description">
                            {% if item.teaser %}
                                {{ item.teaser | striptags | truncatechars_html:175 }}
                            {% else %}
                                {{ item.body | striptags | truncatechars_html:175 }}
                            {% endif %}
                            <a href="{% if item.link %}{{ item.link }}{% else %}{% url "page" item.slug %}{% endif %}" class="read_more">Читать дальше…</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}

</div>

{{ item.link }}



