<div class="ui divided items">

    {% for item in items %}
        <div class="ui item" style="">

            {% if not not_preview %}
                {% if item.video_o %}
                    <div class="ui embed" data-source="youtube" data-id="{{ item.video }}" data-placeholder="{{ item.image.url }}" data-icon="red video play"></div>
                {% else %}
                    {% if item.image and item.show_image_in_list %}

                        {% if item.slug %}
                            <a href="{% url "page" item.slug %}" class="image">
                                <img src="{{ item.image.url }}">
                            </a>
                        {% else %}
                            <div class="image">
                                <img src="{{ item.image.url }}">
                            </div>
                        {% endif %}

                    {% endif %}
                {% endif %}
            {% endif %}

            <div class="content">

                {#                {% if author %}#}
                {#                    <img class="ui avatar image" src="{{  }}">#}
                {#                {% endif %}#}

                {% if item.slug %}
                    <a href="{% url "page" item.slug %}" class="header">{{ item.title }}</a>
                {% else %}
                    <div class="header">{{ item.title }}</div>
                {% endif %}

                {% if not not_time %}
                <div class="meta">{{ item.pub_date|timesince }} назад</div>
                {% endif %}

                {% if not not_desc %}
                    <div class="description">
                        {% if item.teaser %}
                            {{ item.teaser }}
                        {% else %}
                            {{ item.body | striptags | truncatewords:20 }}
                        {% endif %}
                        <a href="{% url "page" item.slug %}" class="read_more">Читать дальше…</a>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endfor %}

</div>




