<div class="ui  items">

    {% for item in items %}
        <div class="ui item" style="">

            <div class="content">

                <a class="" href="{{ item.title }}" {% if target %}target="{{ target }}"{% endif %}>{{ item.second_title  }}</a>

{#                <div class="meta small">{{ item.second_title }}</div>   #}
                {% if item.teaser or item.body %}
                    <div class="description">
                        {% if item.teaser %}
                            {{ item.teaser }}
                        {% else %}
                            {{ item.body | truncatewords:20 }}
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
    {% endfor %}

</div>




