<div class="news news_slideshow ui segment">

    {% for item in items %}
        <div class="news item">
            <div class="meta">{{ item.pub_date|timesince }} назад</div>
            <a href="{% url "page" item.slug %}" class="header">{{ item.title }}</a>
        </div>
    {% endfor %}

</div>




