{% load render_as_template %}

<div class="slideshow">
    {% for item in items %}
        <a href="{% url "page" item.slug %}">
            <img src="{{ item.image.url }}" alt="" class="ui fluid image">

            {% if not not_desc %}
                <div class="desc">
                    {% if item.show_title_in_list %}
                        <h2 class="ui header">{{ item.title }}</h2>
                    {% endif %}

                    {#                {% if item.tags.all|length > 0 %}#}
                    {#                    <div class="tags">#}
                    {#                        {% for item in item.tags.all %}#}
                    {#                            <span class="ui mini grey tag label">{{ item.name }}</span>#}
                    {#                        {% endfor %}#}
                    {#                    </div>#}
                    {#                {% endif %}#}

                    {% if item.second_title %}
                        <h3 class="ui header">{{ item.second_title }}</h3>
                    {% endif %}
                    <div class="teaser">{{ item.teaser }}</div>
                </div>
            {% endif %}
        </a>
    {% endfor %}
</div>