{% if request.user.is_staff %}
    <div class="ui center aligned container">
        <a class="small open_seo_modal" da-sidebar=".seo.sidebar" target="_blank">
            <i class="ui arrow left icon"></i>
            редактировать настройки
        </a>

        {% if perms.node.can_change_page %}
            |
            {% if one_page %}
                <a class="small" target="_blank" href="{% url 'admin:node_page_change' page.pk %}">редактировать </a>
            {% else %}
                <a class="small" target="_blank" href="{% url 'admin:node_tag_change' page.pk %}">редактировать </a>
            {% endif %}
        {% endif %}
    </div>
{% endif %}