{% load render_as_template %}


{% if page.image %}
    <meta property="og:image" content="http://{{ request.get_host }}{{ page.image.url }}"/>
{% endif %}

<meta property="og:title" content="{{ page.title }}"/>

{% if page.meta_desc %}

    <meta property="og:description" content="{{ page.meta_desc }}"/>
{% else %}
    {% if page.teaser %}
        <meta property="og:description" content="{{ page.teaser }}"/>
    {% else %}
        <meta property="og:description" content="{% render_as_template page.body|striptags|truncatewords:100 %}"/>
    {% endif %}
{% endif %}
