{% if not front %}
    <div class="ui center aligned container" style="padding: 2rem 0;">
        <script type="text/javascript" src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js" charset="utf-8"></script>
        <script type="text/javascript" src="//yastatic.net/share2/share.js" charset="utf-8"></script>
        <div class="ya-share2" data-services="facebook,vkontakte,odnoklassniki,moimir,gplus,twitter" data-counter=""></div>
        <div class="small">При перепосте просьба делать активную ссылку</div>
    </div>
{% endif %}
