<div class="videos ui three column stackable grid">
    {% for video in videos %}
        <div class="column">
            <div class="ui embed" data-source="youtube" data-id="{{ video.video }}" data-placeholder="{{ video.image.url }}" data-icon="red  play"></div>
        </div>
    {% endfor %}

</div>

