<p>В мероприятии приняли участие Председатель ЦК КПРФ Г.А. Зюганов, руководитель фракции КПРФ в Государственной Думе ФС РФ, заместитель Председателя ЦК КПРФ, Председатель Комитета Государственной Думы по природным ресурсам, природопользованию и экологии, академик РАН В.И. Кашин и другие лидеры коммунистической партии.</p>
<p>По мнению выступавших, так называемые «антикризисные планы» российского правительства на самом деле скрывают системную неспособность федеральных чиновников к выводу России из кризиса. При этом, как заметил Геннадий Зюганов», «в стране нарастает понимание того, что без смены курса выход из кризиса невозможен».</p>
<p>Но как может выглядеть эта смена курса на практике, каким образом можно осуществить сегодня в России новую индустриализацию и политику реального импортозамещения? Об этом – читайте в следующем номере в интервью с одним из участников этой пресс-конференции, руководителем группы компаний «Тритон» Василием Мельниковым, которому вместе с его коллегами, судя по всему, удалось в рамках отдельно взятого предприятия сделать, казалось бы, невозможное…</p>
<b>Олег ШПАК</b>


