{% extends "kolokol/kolokol_base.html" %}

{# FACEBOOK OG #}
{% block tophead %}
    {{ block.super }}

    <meta property="og:image" content="http://{{ request.get_host }}/static/images/logo.png"/>
    <meta property="og:title" content="Общественный комитет гражданских инициатив «КОЛОКОЛ»"/>
    <meta property="og:description" content="Некий текст"/>
{% endblock %}

{% block content %}
    {{ block.super }}


    {% if slideshow %}
        <div class="ui slideshow  container" style="padding: 0;">
            {% include "node/items/slideshow.html" with items=slideshow %}
        </div>
    {% endif %}

    {% if videos %}
        <div class="ui videos center aligned container" style="">

            <div class="ui center aligned basic block_title_segment segment">
                <a href="{% url "page" slug="video" %}"><h3 class="da ui header block_title">Видеосюжеты</h3></a>
            </div>

            {% include "node/parts/video.html" %}

            <div class="ui center aligned basic segment">
                <a href="{% url "page" slug="video" %}" class="red">Все видеосюжеты</a>
            </div>


        </div>
    {% endif %}

    <div class="ui tags center aligned  container" style="">
        {% include "node/items/tags.html" with items=tags %}
    </div>


    <div class="ui news container" style="">
        {% include "node/items/run_string.html" with items=news_list %}

    </div>

    <div class="ui on_main container" style="">
        {% include "node/items/cards.html" with items=on_main %}

    </div>



{% endblock %}

