{% extends "kolokol/kolokol_base.html" %}

{% load render_as_template %}

{# FACEBOOK OG #}
{% block tophead %}
    {{ block.super }}
    {% include 'node/parts/og.html' %}
{% endblock %}

{% block content %}
    {{ block.super }}

    {% include "node/parts/admin_links.html" %}

    {% if page.template %}
        {% render_as_template page.template.template|safe %}
    {% else %}


        <div class="ui vertical segment" style="">

            <div class="ui container">

                <h1 class="ui da center aligned page_header header">
                    {% if page.prular %}
                        {{ page.prular }}
                    {% else %}
                        {{ page }}
                    {% endif %}
                </h1>

                {#DESC#}
                {% if page.desc %}
                    <div class="ui desc basic vertical segment container desc">{{ page.desc|safe }}</div>
                {% endif %}


                {% if items_type == 'items' %}
                    {% include "node/items/items.html" %}
                {% elif items_type == 'slideshow' %}
                    {% include "node/items/slideshow.html" %}
                {% elif items_type == 'links' %}
                    {% include "node/items/links.html" %}
                {% else %}
                    {% include "node/items/cards.html" with columns="three" %}
                {% endif %}
            </div>

            <div class="ui basic center aligned segment pagination">
                <div class="step-links">
                    {% if items.has_previous %}
                        {% if items.previous_page_number == 1 %}
                            <a href="{% url "page" page.slug %}">Предыдущая</a> |
                        {% else %}
                            <a href="{% url "page_page" page.slug items.previous_page_number %}">Предыдущая</a> |
                        {% endif %}
                    {% endif %}

                    <span class="current">Страница <span class="ui blue large header page_number">{{ items.number }}</span> из {{ items.paginator.num_pages }}</span>
                    {##}
                    {% if items.has_next %}
                        <span class="next_page">| <a href="{% url "page_page" page.slug items.next_page_number %}">Следующая</a></span>
                    {% endif %}
                </div>
            </div>

        </div>

    {% endif %}

    {% include "node/parts/socials.html" %}

{% endblock %}

