{% extends "kolokol/kolokol_base.html" %}

{% load render_as_template %}
{% load hramik_tags %}

{# FACEBOOK OG #}
{% block tophead %}
    {{ block.super }}
    {% include 'node/parts/og.html' %}
{% endblock %}


{% block in_body %}
    {{ block.super }}
{% endblock %}

{% block content %}
    {{ block.super }}
    {% if page.template %}
        {% render_as_template page.template.template|safe %}
    {% elif page.main_tag.page_template %}
        {% render_as_template page.main_tag.page_template.template|safe %}
    {% else %}
        {% include "node/parts/admin_links.html" with one_page=True %}


        {% if page.title and page.show_title_in_page %}
            <div class="ui container">
            <h1 class="ui header">{{ page.title }}</h1>
            <div>
                {% if page.second_title %}<h2 class="ui da header">{{ page.second_title }}</h2>{% endif %}
            </div>
        {% endif %}

        {#TAGS#}
        {% if page.tags.all|length > 0 %}
            <div class="ui tags center aligned  container" style="">
                {% include "node/items/tags.html" with items=page.tags.all classes="mini" %}
            </div>
        {% endif %}

        {#TEASER#}
        {% if page.teaser %}
            <div class="ui teaser container">{{ page.teaser }}</div>
        {% endif %}

        {#DESC#}
        {% if page.desc %}
            <div class="ui desc container">{{ page.desc }}</div>
        {% endif %}

        {#VIDEO#}
        {% if page.video %}
            <div class="ui video container">
                <div class="ui embed" data-source="youtube" data-id="{{ page.video }}" data-placeholder="/media/{{ page.image }}">
                </div>
            </div>
            {#MAIN PHOTO#}
        {% elif page.image and page.show_image_in_page %}
            <div class="ui container">
                <img class="ui fluid image" src="{{ page.image.url }}"></img>
            </div>
        {% endif %}

        {#MAIN BODY#}
        {% if page.sidebar %}
            <div class="ui body container">

                <div class="ui stackable divided grid ">

                    <div class="ten wide column">
                        {% if page.body_clear %}
                            {% render_as_template page.body|safe %}
                        {% else %}
                            {{ page.body|linebreaks|urlize }}
                        {% endif %}
                    </div>
                    <div class="six wide column">

                        {% render_as_template page.sidebar_template.template|safe %}
                        {#                    {% for tag in page.tags.all %}#}
                        {#                        {% if tag.sidebar %}#}
                        {#                            <div class="ui header">{{ tag.name }}</div>#}
                        {#                            {% show_items col="10" exclude=page.id type="items" tags=tag.slug order="-pub_date" not_desc=True %}#}
                        {##}
                        {#                            <div class="ui divider"></div>#}
                        {#                        {% endif %}#}
                        {#                    {% endfor %}#}

                    </div>
                </div>

            </div>
        {% else %}
            <div class="ui body container">

                {% if page.body_clear %}
                    {% render_as_template page.body|safe %}
                {% else %}
                    {{ page.body|linebreaks|urlize }}
                {% endif %}

            </div>
        {% endif %}


        {#ADDITIONAL PHOTOS#}
        {% if page.photos.all %}
            <div class="ui container">
                {% for photo in page.photos.all %}
                    {% if not photo.position == 0 %}
                        {% if photo.desc %}
                            <div class="description small" style="margin-bottom: 1rem;">{{ photo.desc }}</div>
                        {% endif %}

                        <img src="/media/{{ photo.photo }}" class="ui fluid image" alt="" style="margin-bottom: 4rem;">
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}


        {% if page.comments_available %}
            <div class="ui comments container">

                {% if page.comments_engine == 'disqus' %}
                    <div id="disqus_thread"></div>
                    <script>
                        /**
                         * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                         * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
                         */
                        /*
                         var disqus_config = function () {
                         this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
                         this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                         };
                         */
                        (function () { // DON'T EDIT BELOW THIS LINE
                            var d = document, s = d.createElement('script');

                            s.src = '//kolokol3tn.disqus.com/embed.js';

                            s.setAttribute('data-timestamp', +new Date());
                            (d.head || d.body).appendChild(s);
                        })();
                    </script>
                    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
                {% endif %}

            </div>
        {% endif %}

        {% include "node/parts/socials.html" %}
    {% endif %}

{% endblock %}

