{% load thumbnail %}
{% load render_as_template %}
{% load hramik_tags %}

{% include "node/parts/admin_links.html" with one_page=True %}


{% if page.title and page.show_title_in_page %}
<div class="ui left aligned container">
    <h1 class="ui da left aligned header">{{ page.title }}</h1>
    {% if page.second_title %}<h2 class="ui da left aligned header">{{ page.second_title }}</h2>{% endif %}
</div>
{% endif %}

{#TAGS#}
{% if page.tags.all|length > 0 %}
<div class="ui tags center aligned  container" style="">
    {% include "node/items/tags.html" with items=page.tags.all classes="mini" %}
</div>
{% endif %}

{#TEASER#}
{% if page.teaser %}
<div class="ui teaser container">{{ page.teaser }}</div>
{% endif %}

{#VIDEO#}
{% if page.video %}
<div class="ui video container">
    <div class="ui embed" data-source="youtube" data-id="{{ page.video }}" data-placeholder="/media/{{ page.image }}">
    </div>
</div>
{#MAIN PHOTO#}
{% elif page.image and page.show_image_in_page %}
<div class="ui container">
    <img class="ui fluid image" src="{{ page.image.url }}"></img>
</div>
{% endif %}

{#MAIN BODY#}
{% if page.show_sidebar %}
<div class="ui body stackable divided grid container">

    <div class="ten wide column">
        {% if page.body_clear %}
        {% render_as_template page.body|safe %}
        {% else %}
        {{ page.body|linebreaks|urlize }}
        {% endif %}
    </div>
    <div class="six wide column">
        {% for tag in page.tags.all %}
        {% if tag.sidebar %}
        <div class="ui header">{{ tag.name }}</div>
        {% show_items col="10" exclude=page.id type="items" tags=tag.slug order="-pub_date" not_desc=True %}

        <div class="ui divider"></div>
        {% endif %}
        {% endfor %}

    </div>

</div>
{% else %}
<div class="ui body container">

    {% if page.body_clear %}
    {% render_as_template page.body|safe %}
    {% else %}
    {{ page.body|linebreaks|urlize }}
    {% endif %}


    {#GOSTS#}
    <table class="ui celled table">
        <thead>
        <tr>
            <th>№ ГОСТа</th>
            <th>Название</th>
        </tr>
        </thead>
        <tbody>
        {% if page.files.all %}
        <div class="ui container">
            {% for file in page.files.all %}
            {% if not file.position == 0 %}
            <tr>
                <td>{{ file.name }}</td>
                <td><a href="/media/{{ file.file }}" download target="_blank">{% if file.title %}{{ file.title }}{% else %}{{ file.file }}{% endif %}</a></td>
            </tr>
            {% endif %}
            {% endfor %}
        </div>
        {% endif %}
        </tbody>
    </table>

</div>
{% endif %}


{% if not front %}
<div class="ui center aligned container">
    <script type="text/javascript" src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="//yastatic.net/share2/share.js" charset="utf-8"></script>
    <div class="ya-share2" data-services="facebook,vkontakte,odnoklassniki,moimir,gplus,twitter" data-counter=""></div>
    <div class="small">При перепосте просьба делать активную ссылку</div>
</div>
{% endif %}


{#ADDITIONAL PHOTOS#}
{% if page.photos.all %}
<div class="ui container">
    {% for photo in page.photos.all %}
    {% if not photo.position == 0 %}
    {% if photo.desc %}
    <div class="description small" style="margin-bottom: 1rem;">{{ photo.desc }}</div>
    {% endif %}

    <img src="/media/{{ photo.photo }}" class="ui fluid image" alt="" style="margin-bottom: 4rem;">
    {% endif %}
    {% endfor %}
</div>
{% endif %}


{% if page.comments_available %}
<div class="ui comments container">

    {% if page.comments_engine == 'disqus' %}
    <div id="disqus_thread"></div>
    <script>
        /**
         * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
         * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
         */
        /*
         var disqus_config = function () {
         this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
         this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
         };
         */
        (function () { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');

            s.src = '//kolokol3tn.disqus.com/embed.js';

            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments
        powered by Disqus.</a></noscript>
    {% endif %}

</div>
{% endif %}