<?xml version="1.0" encoding="UTF-8"?>

<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">

    {% for page in pages %}
        <url>

            <loc>{{ scheme }}://{{request.get_host}}/{{ page.slug }}</loc>

            <lastmod>{{ page.edit_date|date:"c" }}</lastmod>

            <changefreq>{{ page.changefreq }}</changefreq>

            <priority>{{ page.priority }}</priority>

        </url>
    {% endfor %}

</urlset>