<div class="ui list">
    {% for tag in tags %}
        <div class="item ">
            <div class="ui header">
                {% if tag.create_page %}
                    <a href="{% url "page" tag.slug %}">{% if tag.prular %}{{ tag.prular }}{% else %}{{ tag.name }}{% endif %}</a>
                {% else %}
                    {% if tag.prular %}{{ tag.prular }}{% else %}{{ tag.name }}{% endif %}
                {% endif %}
            </div>
            <div class="list">
                {% for page in tag.pages %}
                    <div class="item">
                        <a href="{% url "page" page.slug %}" class="outer">{{ page.title }}</a>
                    </div>
                {% endfor %}
            </div>
        </div>

    {% endfor %}

    {% if no_tag_pages %}
        <div class="item">
            <div class="ui header">Разное</div>
            <div class="list">
                {% for page in no_tag_pages %}
                    <div class="item">
                        <a href="{% url "page" page.slug %}" class="outer">{{ page.title }}</a>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
</div>
