<div class="ui left vertical left inverted very wide segment sidebar seo overlay">
    <div class="ui basic segment">
        <div class="content">
            <form action="{% url "page" page.slug %}" class="ui inverted form" name="sidebar_seo_form" method="post">{% csrf_token %}

                <input type="hidden" name="form[name]" value="seo">


                {% if perms.node.can_edit_seo %}

                    <div class="ui inverted header">SEO</div>

                    <div class="field">
                        <label>H1</label>
                        {% if page.title %}
                            <input type="text" name="seo[h1]" value="{{ page.title }}">
                        {% elif page.prular %}
                            <input type="text" name="seo[h1]" value="{{ page.prular }}">
                        {% elif page.name %}
                            <input type="text" name="seo[h1]" value="{{ page.name }}">
                        {% endif %}
                    </div>

                    <div class="field">
                        <label>H2</label>
                        <input type="text" name="seo[h2]" value="{{ page.second_title }}">
                    </div>

                    <div class="field">
                        <label>Page Title</label>
                        <input type="text" name="seo[page_title]" value="{{ page.page_title }}">
                    </div>

                    <div class="field">
                        <label>Meta Description</label>
                        <textarea name="seo[meta_desc]" rows="3">{{ page.meta_desc }}</textarea>
                    </div>

                    <div class="field">
                        <label>Meta Keyword</label>
                        <input type="text" name="seo[meta_keywords]" value="{{ page.meta_keywords }}">
                    </div>

                    <div class="ui toggle checkbox">
                        <input type="checkbox" tabindex="0" name="seo[noindex]"
                                {% if page.noindex %}
                               checked
                                {% endif %}
                        >
                        <label>Noindex</label>
                    </div>

                {% endif %}

                {% if perms.node.can_edit_slug %}

                    <div class="ui divider"></div>

                    <div class="ui inverted header">Настроки</div>

                    <div class="field">
                        <label>Slug</label>
                        <input type="text" name="seo[slug]" value="{{ page.slug }}">
                    </div>
                {% endif %}

                {% if perms.node.can_edit_sidebar %}
                    <div class="ui divider"></div>

                    <div class="ui toggle checkbox">
                        <input type="checkbox" tabindex="0" name="seo[sidebar]"
                                {% if page.sidebar %}
                               checked
                                {% endif %}
                        >
                        <label>Показывать баннер</label>
                    </div>
                {% endif %}

            </form>
        </div>
        <div class="actions">
            <div class="ui positive right labeled icon button" onclick="document.sidebar_seo_form.submit();">
                Сохранить
                <i class="checkmark icon"></i>
            </div>
        </div>
    </div>
</div>


